.git
.gitignore
.idea
.vscode
node_modules
vendor

data
upload
images
projects
cache
tmp
logs

*.log
*.tmp
*.bak
*.swp
*.sql
*.zip
*.tar
*.tar.gz
*.gz
*.7z
*.rar
*.dat
*.db
*.sqlite
*.sqlite3
*.phar
*.bin
